
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/back.cshtml";
}
<style type="text/css">
    .index{
        background-color:#0094ff;
        color:#ffffff;
        border-radius:30px;
    }
</style>
<h1 style="text-align:center; line-height:100px;">您好，这里是后台管理</h1>

