
@{
    ViewBag.Title = "留言管理";
    Layout = "~/Views/back.cshtml";
}
@using Blog.Models;
<style type="text/css">
    .message {
        background-color: #0094ff;
        color: #ffffff;
        border-radius: 30px;
    }
</style>

<div class="row clearfix">
    <div class="col-md-12 column">
        @{
            var mes = (List<messeus>)ViewData["mess"];
            <div class="col-md-12 column" id="flo">
                @{Html.RenderAction("messages"); }
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    @{
                      
                        <div style="color:rgba(0, 0, 0, 0.63);">
                            全部 @mes.Count() 条数据,一共 @{
                                int j = 0;
                                if (mes.Count() % 5 == 0)
                                {
                                    j = (mes.Count() / 5);
                                }
                                else
                                {
                                    j = (mes.Count() / 5) + 1;
                                }
                                <span>@j</span>


                            } 页，第<span id="ye">1</span>页
                        </div>

                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            @{
                                for (int i = 1; i <= j; i++)
                                {

                                    <li name="@i" class="flow"><a href="#">@i</a></li>

                                }
                            }



                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    }
                </div>
            </div>
        }

    </div>
</div>
<script src="~/scripts/easyui/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        //分页
        $(".flow").click(function () {
            var id = this.getAttribute("name");
            $("#ye").text(id);
            $("#flo").load("/blogback/messages?fen=" + id);

        })      



    })
</script>
