
@{
    ViewBag.Title = "关于";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="row clearfix">
   
    <!--右边-->
    <div class="col-md-12 column">
        <pre style="white-space: pre-wrap!important;word-wrap: break-word!important;*white-space:normal!important; background-color:rgba(0, 0, 0, 0.48);color:azure;font-size:15px;">
            网络影响人们的方式不是排山倒海式的，而是“润物细无声”的，博客和博客文化也是一样。网络从最初的几个计算机专家自娱自乐，到现在深刻地改变着全世界人们的生活，不能说不是一个奇迹。博客从最初几个记者在自己的页面上批发新闻的中转站，发展到现在几乎所有的网络写手和喜欢“码字”的网虫都乐此不疲的 “博客语体”，人们似乎在一夜之间都跟风似的玩起了博客，到底是什么在吸引着网民呢？

            如果说文化是一种生活状态，那么博客文化就是网上最平凡的生活状态之一。也正式因为这种平凡，才使得博客如此具有亲和力。加入博客几乎是“零门槛”，并不需要你具有什么特殊的技能，凡是知道博客的人都可以参与其中，你只要会——打字。以文字为主的博客甚至抛开了视频、声音、图片等多媒体的表现形式，它以文字最质朴的方式试图表达人们对生活的态度。你可以没有DV，你可以没有DC，你只需要有一台电脑、一个键盘和你的思想，你就可以成为博客的一员。网络从第一波的商业化，到后来的收费短信，承载了太多的商业化诉求。也许人们面对越来越华丽的网站制作感到了厌倦，反而觉得质朴的博客最能反应自己的思想，感受网络上的平等和自由。

            人们曾经对网站、论坛、BBS、留言版等诸多形态的网络寄予厚望，希望网络可以给他们带来久违的平等，但结果发现在传统的网络上有管理员、有版主、有形形色色的规矩和礼数。当人们发现可以在聊天的过程中袒露自己的心声，结果聊天的信息转瞬即逝，就像不能在平静的水面上留下任何脚印一样。原来许多热衷于BBS或者论坛灌水的人纷纷转投博客门下，因为在这里，任何人都可以有自己的一个家——把生活中的琐碎，思想上的火花还有以前想表达却没有办法表达的东西倾吐一番，就像在家里那么随便。而且这个家用不着花费太多的钱，不用购买域名和主页空间，只要是有时间、愿意写的人都可以顺利地拿到房间的钥匙。我更愿意把博客看成是人们精神的家园，就好像航行在苍茫大海里的船员，轮船是他们肉身的家，而航海日志就是他们精神的家。网络的浩瀚丝毫不比现实中的海洋逊色，某种程度上更加广大。我相信很多人和博客之间都有一种相见恨晚的感觉。

            博客能给人带来家中所能提供的一切：独立、自主、隐私、温馨……装修的风格自己说了算，博客的skin也可以随时更换；家里有老婆和孩子，像木子美一样可以在博客里若隐若现地调情；家里我最大，博客的页面上每个人都是专家。当网络的话语权被精英们垄断了一个时期之后，原先实验室里面的“高科技设备”就会摇身一变成为大众文化时代市民阶层的玩物。博客上面“文化”准则就是：你可以认为我没有文化，但是根本不关我的事，只要我自得其乐。

            如果我们把视野拓宽到整个社会，传统的新闻媒体垄断了话语权，而网络的出现打开了一个缺口。博客把这个缺口变成一个闸口。新闻媒体中形形色色的把关人，在网络里面变成了少数几个版主、站长，而博客时代，新闻的发布更加简化到了只要通过了你的良知，消息就可以上网。当然责任还是需要你自己来承当的。

            人们无法改变过去的历史，也不能掌控遥远的未来，稍微有一点把握的就是现在的每一个当下。博客用流传了几千年的文字形态记录着人们的生活和精神轨迹，也许过100年， 200年，甚或1000年之后，打开尘封的博客，阅读我们录入的每一个文字，他们都会诧异于我们今天的执着和纯真。 
        </pre>
    </div>
   
</div>